<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd 
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-4.3.xsd 
			http://www.springframework.org/schema/task   
	   		http://www.springframework.org/schema/task/spring-task-4.3.xsd">
	   	<!-- 配置包扫描 -->
	   		<context:component-scan base-package="elstp.bercon.controller.*,elstp.bercon.tasks"></context:component-scan>
		<!-- MVC注解驱动 -->
			<mvc:annotation-driven></mvc:annotation-driven>
		<!-- 视图解析器 -->
			<bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
				<!-- 配置前缀 -->
					<property name="prefix" value="/pages/"></property>
				<!-- 配置后缀 -->
					<property name="suffix" value=""></property>
			</bean>
		<!-- 文件上传 -->
		<bean id="commonsMultipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
			<!-- 配置默认编码 -->
			<property name="defaultEncoding" value="utf-8"></property>
			<!-- 配置文件上传大小 -->
			<property name="maxUploadSize" value="4048576"></property>
		</bean>
		<!-- 数据校验 -->
		
		<!-- 定时器 -->
<task:scheduler id="scheduler" pool-size="10" />  
<task:executor id="executor" keep-alive="3600" pool-size="100-200" queue-capacity="500" rejection-policy="CALLER_RUNS" /> 
<task:annotation-driven executor="executor" scheduler="scheduler" />
		<!-- 配置拦截器 -->
<!-- 		<mvc:interceptors> -->
<!-- 			<mvc:interceptor> -->
<!-- 				拦截所有 -->
<!-- 				<mvc:mapping path="/**"/> -->
<!-- 				忽略此请求的拦截 -->
<!-- 				<mvc:exclude-mapping path="/admin/login.arma"/> -->
<!-- 				<mvc:exclude-mapping path="/front/getid.arma"/>  -->
<!-- 				<bean id="interFilter" class="ssm.test.interceptors.InterFilter"></bean> -->
<!-- 			</mvc:interceptor> -->
<!-- 		</mvc:interceptors>  -->
</beans>